<% comment = Comment.find(parent_id) %>
<strong><em><%= comment.author.email %> says:</em></strong>
	<%= comment.content %><br><small><em>
	<%= distance_of_time_in_words(Time.now - comment.created_at) %> ago
	</small></em><br>

	<a href="<%= new_post_comment_comment_url(@post, comment) %>">Reply</a>
	<br><br>

<% children = @post.comments_by_parent_id[comment.id] %>
<ul>
  <% children.each do |comment| %>
    <%= render "comments/comment", 
      post: @post,
      parent_id: comment.id %>
  <% end %>
</ul>
