<form action="<%= new_child_comment_url(comment) %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
<textarea name="comment[content]"></textarea>
  <button>Submit Comment</button>
</form>
<blockquote>
<% comment.child_comments.each do |comment| %>
<strong><%= comment.author.email %> says:</strong>
<%= comment.content + " at " +  comment.created_at.to_s %>
<%= render "comments/nested", comment: comment %>
</blockquote>
<% end %>
