<h1>Create post</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<br>
<br>

<form action="<%= posts_url %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="post_title">Title</label>
    <input type="text"
           name="post[title]"
           id="post_title"
           value="<%= @post.title %>">

  <br>

  <label for="post_content">Content</label>
  <input type="text"
         name="post[content]"
         id="post_content"
         value="<%= @post.content %>">

  <br>

  <label for="post_url">URL (Optional)</label>
  <input type="text"
         name="post[url]"
         id="post_url"
         value="<%= @post.url %>">

  <br>

  <label for="post_subs">Choose subs to post to</label><br>
  <% Sub.all.each do |sub| %>
    <input type="checkbox"
           name="post[sub_ids][]"
           id="post_sub_<%= sub.id %>"
           value="<%= sub.id %>">
    <label for="post_sub_<%= sub.id %>"><%= sub.title %></label>
    <br>
  <% end %>

  <button>Create Post!</button>
</form>