<!--Post show page -->
<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>

<p>
<a href="<%= new_post_comment_url(@post) %>">Post a comment</a>
</p>

<% @post.top_level_comments.each do |comment| %>
      <strong><em><%= comment.author.email %> says:</em></strong>
      <%= comment.content %>. . . . .
      <%= distance_of_time_in_words(Time.now - comment.created_at) %> ago
      <br>

      <a href="<%= new_post_comment_comment_url(@post, comment) %>">Reply</a>
      <br>

      <%= render "comments/comment", post: @post, parent: comment %>
<% end %>

<% if current_user == @post.author %>
  <a href="<%= edit_post_url(@post) %>">Edit Post</a>
<% end %>

<br>

<label for=subs>Belongs to subs:</label>
<ul>
<% @post.subs.each do |sub| %>
  <li>
    <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
  </li>
<% end %>
</ul>

<!--Need to add comments -->