<!DOCTYPE html>
<html>
<head>
  <title>ReReddit</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  Logged in as <%= current_user.email %>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
   <button>Log out!</button>
 </form>
 <br>
<% elsif request.url != new_session_url %> <!-- NEED TO FIX -->
  <a href="<%= new_session_url %>">Log in!</a>

  <br>
<% end %>

<%= yield %>

</body>
</html>
